# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Eclipse
.classpath
.project
.settings/
.apt_generated
.factorypath

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db